.main-content {
    background-color: whitesmoke;
}

.top-content {
    padding: 15px;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .top-content .left-content {
        width: 400px;
    }

        .top-content .left-content img {
            width: 400px;
            max-height: 270px;
        }

        .top-content .left-content .interactive {
            display: flex;
            justify-content: center;
        }

    .top-content .interactive span {
        display: flex;
        align-items: center;
    }

.interactive i {
    margin: 0 5px;
    font-size: 20px;
}

.top-content .interactive div {
    padding: 10px 20px;
}

.top-content .right-content {
    margin-left: 40px;
    width: 100%;
}

    .top-content .right-content h3 {
        font-size: 30px;
        color: black;
    }

    .top-content .right-content .price {
        background-color: rgb(240, 240, 230);
        color: tomato;
        font-size: 30px;
        font-weight: 600;
        padding: 10px 20px;
        margin: 10px 0;
    }

    .top-content .right-content .row {
        display: flex;
        margin: 15px 0;
        font-size: 14px;
        color: black;
    }

        .top-content .right-content .row div:first-child {
            min-width: 200px;
        }

    .top-content .right-content .quantity {
        margin: 0;
        padding: 0;
    }

    .top-content .right-content .row input {
        width: 30px;
        height: 30px;
        padding-left: 15px;
    }

        .top-content .right-content .row input[type=submit] {
            padding: 0;
        }

        .top-content .right-content .row input[type=submit] {
            width: 32px;
            height: 32px;
            font-size: 20px;
            outline: 0;
            border: 0;
            background-color: rgb(224, 224, 224);
            cursor: pointer;
        }

.top-content .order-buy {
    display: flex;
    align-items: center;
}

    .top-content .order-buy .buy-now input[type=submit], .buy-more input[type=submit] {
        padding: 15px 50px;
        color: white;
        background-color: tomato;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0.8;
    }

        .top-content .order-buy .buy-now input[type=submit]:hover, .buy-more input[type=submit] {
            opacity: 1;
        }
            .buy-more input[type=submit]{
                background-color: forestgreen;
                margin-left: 20px;
                }

            .top-content .order-buy .order input[type=submit] {
                padding: 13px 20px;
                margin-right: 20px;
                background-color: rgb(255, 218, 211);
                color: tomato;
                font-size: 14px;
                border: 1px solid tomato;
                outline: none;
                cursor: pointer;
                opacity: 0.8;
            }

        .top-content .order-buy .order input[type=submit]:hover {
            opacity: 1;
        }

    .top-content .order-buy .order button i {
        font-size: 25px;
        padding: 0 4px;
    }

.detail-content {
    margin-top: 15px;
    padding: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .detail-content .row:last-child {
        margin-top: 15px;
    }

        .detail-content .row:last-child div {
            padding-top: 15px;
        }

    .detail-content .row h3 {
        background-color: darkgray;
        padding: 10px;
        text-transform: uppercase;
        color: #333;
    }

    .detail-content .sub-row {
        display: flex;
        padding: 10px 0;
    }

        .detail-content .sub-row:nth-last-child(2n) {
            background-color: rgb(240, 240, 230);
        }

        .detail-content .sub-row div:first-child {
            width: 150px;
        }


.bot-content {
    padding: 15px;
    background: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .bot-content h3 {
        background-color: darkgray;
        padding: 10px;
        text-transform: uppercase;
        color: #333;
    }
    .bot-content .row {
        display: flex;
        grid-gap: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

        .bot-content .row .product {
            max-width: 220px;
            max-height: 217px;
            border: 1px solid rgb(179, 176, 176);
            text-align: center;
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

            .bot-content .row .product:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            .bot-content .row .product a {
                text-decoration: none;
            }

            .bot-content .row .product img {
                max-width: 212px;
                min-width: 212px;
                min-height: 150px;
                max-height: 150px;
            }

.product .product-name {
    color: rgb(46, 45, 45);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.product .product-price {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    background-color: green;
}
